.sound,
.sound::before {
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.sound {
  position: absolute;
  top: 30px;
  right: 50px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 72px;
  width: 72px;
  border: 2px dashed transparent;
  border-radius: 100%;
  overflow: hidden;
}

.sound::before {
  position: absolute;
  content: '';
  height: 64px;
  width: 64px;
  border: 2px dashed white;
  border-radius: 100%;
  top: 0;
  right: 0;
  opacity: 0;
}

.sound:hover::before {
  opacity: 1;
  -webkit-animation: rotate 12s linear infinite;
}

.question {
  width: 150px;
  position: absolute;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
}

@media (max-width:1180px) {
  .question {
    width: 120px;
    bottom: 0px;
  }
}

@media (max-width:890px) {
  .question {
    width: 70px;
  }
}

@media (max-width:650px) {
  .question {
    width: 50px;
  }

  .sound {
    top: 0;
    right: initial;
    left: 0;
  }
}

.question:hover {
  -webkit-animation: rumble 1s linear infinite;
  animation: rumble 1s linear infinite;
}
