.modal {
  display: none;
  position: fixed;
  z-index: 1;
  max-width: 100%;
  max-height: 100%;
  overflow: auto;
  background-color: rgba(255, 255, 255, 0.9);
  border: 10px black solid;
  border-radius: 25px;
  -webkit-animation: fade 1s linear;
  animation: fade 1s linear;
}

.congrats.modal {
  width: 650px;
}

.instructions.modal {
  width: 800px;
}

.modalContent {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  overflow: hidden;
  padding: 40px;
}

.modalContent p {
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
}

@media (max-width:1180px) {
  .modalContent p {
    font-size: 2.5rem;
  }
}

@media (max-width:650px) {
  .modalContent p {
    font-size: 2rem;
  }
}

i {
  font-size: 4rem;
  padding: 10px;
}

@media (max-width:650px) {
  i {
    font-size: 3rem;
  }
}

button,
.close {
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.instructions.modal button:hover {
  transform: translateY(-10px);
  background: #027bbb;
}

.congrats.modal button:hover {
  transform: translateX(10px);
}

.congrats.modal button.nextLevel:hover {
  background: #027bbb;
}

.congrats.modal button.playAgain:hover {
  color: #027bbb;
  border-color: #027bbb;
}

.congrats.modal form {
  margin-top: 40px;
}

.congrats.modal input {
  text-align: center;
  border: 1px solid black;
}

.leaderboard.modal .table-container {
  overflow-y: auto;
  height: 165px;
}

.leaderboard.modal table {
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
}

.leaderboard.modal th {
  padding: 0 20px 10px;
}

.leaderboard.modal tr.active {
  background: black;
  color: white;
}

.close {
  position: absolute;
  right: 10px;
  top: 10px;
}

.close:hover {
  color: #027bbb;
}